*{
margin: 0;
  padding: 0;
}
body{
    background-image: url("../images/646.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
table, th, td {
    background: #fff;
    border: 2px solid black;
    height: 55px;
    padding: 25px;
  }
  .simple_form{
    text-align: center;
    margin: auto;
    width: 35%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5);
    border:1px solid white;
    padding: 5px;
  }
  #registration{
    width: 100%;
    background-color: #051019;
    opacity: 0.6;
    padding: 55px 0px;
  }
  #button{
    width: 55%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    font-family: serif;
    font-size: 15px;
    color: white;
    background:none;
  }
  h1{
   padding: 3px;
  }
  h2{
    padding: 1px;
   }
  #number{
    width: 44%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    font-family: serif;
    font-size: 15px;
    color: white;
    background: none;
  }
  
  #num{
    width: 11%;
    padding: 6px 0px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    background: none;
  }  
  #check{
      font-family: serif;
      font-size: 18px;
  }
  #sub{
    text-align: center;
      width: 150px;
      padding: 5px;
      font-family: serif;
      font-size: 18px;
      border: 1px solid white;
      outline: 0;
      border-radius: 5px;
      background: none;
      color: white;
  }
  #sub:hover{
      background:#014206 ;
  }
  td{

    color: rgb(0, 0, 0);
  }
  th{
    color: #ffc400;
  }
  table{
    border-color:#000 ;
  }