*{
  margin: 0;
  padding: 0;
}
body{
    background-image: url("../images/agriculture-arable-barley-blur-265216.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .simple_form{
    text-align: center;
    margin:auto;
    width: 36%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5);
    border:1px solid #ffc400;
    padding: 5px;
    margin-top: 3%;
  }
  .simple_form1{
    text-align: center;
    margin: auto;
    width: 25%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5);
    border:1px solid #ffc400;
    padding: 3px;
    margin-top: 4%;
  }
  #registration{
    margin: auto;
    width: 100%;
    background-color: #051019;
    opacity: 0.6;
    padding:10px 0px;
  }
  .avatar{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    position: absolute;
    left: 47.5%;
    margin-top: -3%;
  }
  #button{
    width: 55%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffc400;
    outline: 0;
    font-family: serif;
    font-size: 15px;
    color: white;
    background:none;
  }
  h1{
   padding: 1px;
   margin-top: 2%;
  }
  h2{
    padding: 1px;
    margin-top: 40px;
    color: #af9029;
   }
  #number{
    width: 44%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffc400;
    outline: 0;
    font-family: serif;
    font-size: 15px;
    color: white;
    background: none;
  }
  .icon {
    padding: 1px 0px;
    border: 1px solid none;
    background: none;
    color: white;
    min-width: 10px;
    text-align: center;
  }
  
  #num{
    width: 11%;
    padding: 4.8px 0px;
    border-radius: 5px;
    border: 1px solid #ffc400;
    outline: 0;
    background: none;
  }  
  #check{
      font-family: serif;
      font-size: 18px;
  }
  #sub{
      width: 150px;
      padding: 5px;
      font-family: serif;
      font-size: 18px;
      border: 1px solid white;
      outline: 0;
      border-radius: 5px;
      background: #ffc400;
      color: white;
  }
  #sub:hover{
      background:#ddab05 ;
      color: #000;
  }
 