body {margin:3%;font-family:Arial;
    background-image: url("../images/wp2024290-farmers-wallpapers.jpg");
    background-size: 100% 700px;}
    
    .topnav {
      overflow: hidden;
      background-color: rgb(33, 31, 46);
      opacity: 0.6;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #ffffff;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .active {
      margin: .1em .8em;
      border-top: 4px solid#FAEE0D;
      color:#FAEE0D;
      padding-top: 0.1em;
    }
    
    .topnav .icon {
      display: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: rgb(253, 247, 247);
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgb(77, 77, 7);
      min-width: 116px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: rgb(204, 193, 193);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .topnav a:hover, .dropdown:hover .dropbtn {
      border-top: 4px solid#FAEE0D;
      color:#FAEE0D;
    }
    
    .dropdown-content a:hover {
      background-color: rgb(126, 78, 6);
      color: rgb(255, 255, 255);
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }