<!--
Au<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	{% load static %}
<title>Cultivation a Agriculture  Category Flat Bootstarp Resposive Website Template | About :: w3layouts</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cultivation Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
 <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---End-smoth-scrolling---->
<link rel="stylesheet" href="{% static 'css/swipebox.css' %}">
			<script src="{% static 'js/jquery.swipebox.min.js' %}"></script> 
			    <script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
				</script>
				<!--Animation-->
<script src="{% static 'js/wow.min.js' %}"></script>
<link href="{% static 'css/animate.css' %}" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
<!---/End-Animation---->


</head>
<body>
  <div class="header head-top" id="home">
		<div class="container">
		<div class="header-top">
		<div class="top-menu">
  <span class="menu"><img src="{% static 'images/nav.png' %}" alt=""/> </span>
<ul>
	<li><a href="/index/">home</a></li><label>/</label>
	<li><a href="register.html">Register</a></li>
    <li><a href="about.html" class="active">About</a></li><label>/</label>
  	<li><a href="/services/">Services</a></li><label>/</label>
    <li><a href="products.html">products</a></li><label>/</label>
   	<li><a href="blog.html">blog</a></li><label></label>
   	<li><a href="contact.html">Contact</a></li>
    </ul>
     <!-- script for menu -->
				
		 <script>
		 $("span.menu").click(function(){
		 $(".top-menu ul").slideToggle("slow" , function(){
		 });
		 });
		 </script>
	<!-- //script for menu -->
     </div>
	<div class="search">
						<form>
							<input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
							<input type="submit" value="">
						</form>
					</div>

		<div class="clearfix"></div>
	
	</div>
	<div class="logo logo1">
		<a href="index.html">cultivation</a>
		</div>
		
</div>
</div>
		 <div class="content">
		 <div class="aboutus-section">
		 <div class="container">
		 <h3>about</h3>
		 <div class="aboutus-grids">
		 <div class="col-md-5 left-grid wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
		 <div class="aboutus1">
		 <h4>advantages</h4>
		 <ul>
	<li>Praesent vestim molestie lacus.</li>
	<li>Cras consequat iaculis lorem</li>
	<li>Consectetur adipiscing iaculis</li>
	<li>Lorem ipsum dolor sit</li>
	<li>Cum sociis natoque penatibus et magnis </li>
	<li>Integer molestie lorem</li>
	<li>lorem,Cras consequat iaculis id vehicula</li>
	</ul>
		 </div>
		 <div class="aboutus2">
		 <h4>testimonials</h4>
		 <div class="ab1">
		 <p>suadaorcnec sit amet eroorem ipsum dol. Or sit amt consc tetuer aiing elit. Mauris fermentum tumagna. Sed laoreet aliquam leo. Ut te dolor dapibus eget elentu vel cursus eleifend elit. Aenean auctor wrna. Aliqua volutpat. Duis ac turpis. Integer rutrum ante eu lacuest um liberoisl porta vel sceleisque eget malesuada at neque. Vivam nibhus  metus</p>
		 <a href="#">JOHN ANDERSON</a>
		 </div>
		  <div class="ab2">
		 <p> sit amet eroorem ipsum dol. Or sit amt consc tetuer aiing elit. Mauris fermentum tumagna. Sed laoreet aliquam leo. Ut te dolor dapibus eget elentu vel cursus eleifend elit. Aenean auctor wrna. Aliqua volutpat. Duis ac turpis. Integer rutrum ante eu lacuest um liberoisl porta vel sceleisque eget malesuada at neque. Vivam nibhus  metus</p>
		  <a href="#">OLIVIA GROSH</a>
		</div>
		</div>
		 <div class="clearfix"></div>
		 </div>
 <div class="col-md-7 right-grid wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
      <div class="aboutus3">
       <h5>Nulla dapibus consequat dolor in tristique. Donec quis.</h5>
       <p>Nulla nec aliquam est! Vestibulum ultrices bibendum condimentum. Donec pellentesque lacus at magna porttitor pulvinar. Morbi risus lorem; sollicitudin sit amet lacinia vitae; dictum ut augue. Nulla dapibus consequat dolor in tristique. Donec quis dictum magna. Integer vulputate tortor at augue mollis eu cursus sapien feugiat. Proin porttitor malesuada tincidunt. Nulla consectetur felis sem, a adipiscing est. Donec at risus diam; ut fermentum neque. Maecenas dapibus molestie nisl.gravida cursus nibh. In at metus aliquet, gravida nunc eget, lacinia purus. Sed a mi mollis, faucibus erat. Vivamus at facilisis tortor. Integer condimentum lectus sit amet .sagittis, nisl magna sodales eros, ut feugiat velit velit non turpis.nisl magna sodales eros, ut feugiat velit velit non turpis.ipsum dolor sit amet, consectetur adipiscing elit.ectus sit amet .</p>
      </div>
	  <div class="aboutus4">
       <h4>our team</h4>
      <div class="col-md-4 team-grid">
	<img src="{% static 'images/p19.jpg' %}" class="img-responsive" alt="" />
	  <h5>Eva Adamson</h5>
	  <p>Donec pellentesque lacus at magna porttitor pulvinar. Morbi risus lorem; sollicitudin sit</p>
      </div>
	   <div class="col-md-4 team-grid">
	   <img src="{% static 'images/p20.jpg' %}" class="img-responsive" alt="" />
	  <h5>David Austin</h5>
	  <p>Donec pellentesque lacus at magna porttitor pulvinar. Morbi risus lorem; sollicitudin sit</p>
      </div>
	   <div class="col-md-4 team-grid">
	  <img src="{% static 'images/p21.jpg' %}" class="img-responsive" alt="" />
	  <h5>David Austin</h5>
	  <p>Donec pellentesque lacus at magna porttitor pulvinar. Morbi risus lorem; sollicitudin sit</p>
      </div>
      </div>	  
		 <div class="clearfix"></div>
		 </div>
			</div>
			</div>
			</div>
		  <div class="categories-section">
		   <div class="container">
		   <div class="footer-grids">
			<div class="col-md-4 up wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
	  <h3>upcome events</h3>
	  <div class="up1">
	 <div class="up-img">
	 <img src="{% static 'images/im1.jpg' %}">
	</div>
     <div class="up-text">
		 <a href="#">sagittis magna</a>
		 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		 </div>
		 <div class="clearfix"></div>
         </div>
		  <div class="up1">
	 <div class="up-img">
	 <img src="{% static 'images/im2.jpg' %}">
	</div>
     <div class="up-text">
		 <a href="#">Integer molest</a>
		 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		 </div>
		 <div class="clearfix"></div>
         </div>
		  <div class="up1">
	 <div class="up-img">
	 <img src="{% static 'images/im3.jpg' %}">
	</div>
     <div class="up-text">
		 <a href="#">Fusce suscipit</a>
		 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		 </div>
		 <div class="clearfix"></div>
         </div>
		 </div>
		 <div class="col-md-4 cat wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
		   <h3>Categories</h3>
		   <ul>
	<li>Praesent vestim molestie lacus.</li>
	<li>Cras consequat iaculis lorem</li>
	<li>Consectetur adipiscing iaculis</li>
	<li>Lorem ipsum dolor sit</li>
	<li>Cum sociis natoque penatibus et magnis </li>
	<li>Integer molestie lorem</li>
	<li>lorem,Cras consequat iaculis id vehicula</li>
	</ul>
	</div>
		 <div class="col-md-4 cont wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
		 <h3>contact</h3>
		 <ul>
		<li><i class="phone"></i></li>
		<li><p>1-000-000-0000</p>
		<p>1-000-000-0000</p></li>
		</ul>
		<ul>
	   <li><i class="smartphone"></i></li>
		<li><p>Seventh Avenue</p>
		<p> Chelsea, Manhattan</p></li>
		</ul>
		<ul>
		<li><i class="message"></i></li>
		<li><a href="mailto:example@mail.com">bcdefg@hijs.dfh</a>
         <a href="mailto:example@mail.com">fjashfaf@jkfs.ckd</a></li>
		</ul>
		</div>
		 <div class="clearfix"></div>
		  </div>
		   </div>
		   </div>
		   <div class="footer-section">
		   <div class="container">
		   <div class="footer-top">
		 <div class="social-icons wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
		<a href="#"><i class="icon1"></i></a>
		<a href="#"><i class="icon2"></i></a>
		<a href="#"><i class="icon3"></i></a>
		<a href="#"><i class="icon4"></i></a>
		</div>
		</div>
		 <div class="footer-middle wow fadeInDown Big animated animated" data-wow-delay="0.4s">
		 <div class="bottom-menu">
      <ul>
	<li><a href="index.html">home</a></li>
	<li><a href="register.html">Register</a></li>
    <li><a href="about.html">About</a></li>
  	<li><a href="services.html">Services</a></li>
	<li><a href="products.html">products</a></li>
   	<li><a href="blog.html">blog</a></li>
   	<li><a href="contact.html">Contact</a></li>
    </ul>
		</div>
		</div>
		<div class="footer-bottom wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
									<p> Copyright &copy;2015  All rights  Reserved | Design by<a href="http://w3layouts.com" target="target_blank">W3Layouts</a></p>
									</div>
					<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
		   </div>

 </body>
</html> 