<html>
    <head>
        <title>Add</title>
        {% load static %}
        <div class="basic">
            {% include "web/admin-header.html" %}
        </div>
        <link href="{% static 'css/sample.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="simple_form">
         <form id="registration" action="/addaccount1/" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <h2>Add Account</h2>
           <input type="text" name="panchayathname" id="button" placeholder="name" required><br><br>
           <select name="category" id="button">
             <option>-SELECT-</option>
             <option>panchayath</option>
             <option>krishibhavan</option>
           </select><br><br>
           <select name="district" id="button">
             <option>-BLOCKS-</option>
            <option>Areacode</option>
            <option>Kalikavu</option>
            <option>Kondotty</option>
            <option>Kuttyppuram</option>
            <option>Malappuram</option>
            <option>Mankada</option>
            <option>Nilambur</option>
            <option>Perinthalmanna</option>
            <option>Perimpadappa</option>
            <option>Ponnani</option>
            <option>Tanur</option>
            <option>Tirur</option>
            <option>Thirurangadi</option>
            <option>Vengara</option>
            <option>Wandoor</option>
          </select><br><br>
        
          
           <input type="email" name="email" id="button" placeholder="Email" required><br><br>
           <input type="text" name="password" id="button" placeholder="password" required><br><br>
           <input type="submit"  id="sub" value="Submit"><br><br>
        
         </form>
       </div>
       </body>
       </html>