<html>
    <head>
        <title>Add</title>
        {% load static %}
        <div class="basic">
            {% include "web/admin-header.html" %}
        </div>
        <link href="{% static 'css/sample.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="simple_form">
         <form id="registration" action="/addcategory1/" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <h2>Add Category</h2>
          <!--- <input type="text" name="categoryid" id="button" placeholder="Enter your ID"><br><br>-->
           <input type="text" name="categoryname" id="button" placeholder="category name" required><br><br>
           <textarea cols="10" rows="5" name="categorydescription" id="button" placeholder="Describe here" required></textarea><br><br>
           <input type="file" name="categoryphoto" id="button" style="margin-left: 100px"><br><br>
           <input type="submit"  id="sub" value="Submit"><br><br>
        
         </form>
       </div>
       </body>
       </html>