<html>
    <head>
        <title>Add</title>
        {% load static %}
        <div class="basic">
            {% include "web/krishibhavan-header.html" %}
        </div>
        <link href="{% static 'css/sample.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="simple_form">
         <form id="registration" action="/addsubcidi1/" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <h2>Subcidi</h2>
          <!--- <input type="text" name="categoryid" id="button" placeholder="Enter your ID"><br><br>-->
          <select id="button" name="category">
            <option>
              -CATEGORY-
            </option>
            <option>
              Fertile
            </option>
            <option>
              Machinary
            </option>
          </select><br><br>
           <input type="text" name="itemname" id="button" placeholder="item name" required><br><br>
           <input type="text" name="percentage" id="button" placeholder="percentage" required><br><br>
           <input type="submit"  id="sub" value="Submit"><br><br>
        
         </form>
       </div>
       </body>
       </html>