<html>
    <head>
        <title>Add</title>
        {% load static %}
        <div class="basic">
            {% include "web/krishibhavan-header.html" %}
        </div>
        <link href="{% static 'css/sample.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="simple_form">
         <form id="registration" action="/addseeds1/" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <h2>Add Seeds</h2>
          <!--- <input type="text" name="categoryid" id="button" placeholder="Enter your ID"><br><br>-->
           <input type="text" name="seedsname" id="button" placeholder="seeds name" required><br><br>
           <input type="text" name="seedsunit" id="button" placeholder="enter unit" required><br><br>
           <input type="submit"  id="sub" value="Submit"><br><br>
        
         </form>
       </div>
       </body>
       </html>