<html>
    <head>
        <title>Add</title>
        {% load static %}
        <div class="basic">
            {% include "web/panchayath_header.html" %}
        </div>
        <link href="{% static 'css/sample.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="simple_form">
         <form id="registration" action="/announcemela1/" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <h2>Announce mela</h2>
           <input type="text" name="melaname" id="button" placeholder="Enter The Mela name" required><br><br>

           <input type="text" name="panjayath" id="button" value="{{a1.Panjayath}}" placeholder="Enter The panchayath name" required><br><br>
           <input type="text" name="venue" id="button" placeholder="Venue"><br>
           starting datrequired
           <br>
           <input  type="date" name="startingdate"   id="button" required><br>
           starting time
           <br>
           <input  type="time" name="time"  id="button" required><br>
           ending date
           <br>
           <input  type="date" name="enddate"  id="button" required><br>
            last date for registration
           <br>
           <input  type="date" name="reglastdate"  id="button" required><br><br>
           <input type="file"  name="f1"  id="button" style="margin-left:100px"><br><br>
           <input type="submit"  id="sub" value="Submit"><br><br>
        
         </form>
       </div>
       </body>
       </html>