<html>
    <head>
        <title>Registerform</title>
        {% load static %}
        <div class="basic">
        {% include "web/publicheader.html" %}
        </div>
        <link href="{% static 'css/sample1.css' %}" rel="stylesheet" type="text/css">
        <script type="text/javascript">
          function msg()
          {
            var a=f1.buyernumber.value.length;
            if(a!=10)
            {
              alert("phone number should be 10 digits............");
              return false;
            }
            return true;

          }
        </script>
    </head>
    <body>
      <div class="simple_form">
         <form id="registration" action="/buyer_register1/" method="POST" name="f1">
          <h1>Register</h1>
           {% csrf_token %}
          <input type="text" name="buyerid" id="button" placeholder="Enter your ID" value="{{ff}}" required><br><br>
          <input type="text" name="buyername" id="button" placeholder="Enter your name"><br><br>
          <textarea cols="22" rows="4" name="buyeraddress" id="button" placeholder="Enter your address" required></textarea><br><br>
          <!-- <select id="num">
            <option>+91</option>
            <option>+92</option>
            <option>+93</option>
            <option>+94</option>
            <option>+95</option>
          </select> --><input type="number" name="buyernumber" id="button" placeholder="Enter phone number as password" required><br><br>
          <input type="email" name="buyeremail" id="button" placeholder="Enter your email" required><br><br>
          <input type="submit" id="sub" value="Submit" onClick="return msg();"><br><br>
        
         </form>
       </div>
       </body>
       </html>