<html>
    <head>
        <div class="basic">
            {% include "web/admin-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">

        </div>
        <style>
     
        table, th, td {
            background: rgba(73, 240, 7, 0.233);
  border: 2px solid black;
  height:55px;
}
tr:hover {background-color: #4cb366;}
        
        </style>
    </head>
    <br><br>
    <br><br>
    <center>
    <table>
        <tr>

           
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PHOTO</th>
            <th>------</th>


        </tr>
        <tr>
            {% for t1 in tt %}
         
            <td>{{ t1.Name }}</td>
            <td>{{ t1.Description }}</td>
            <td><img src="{{ t1.Photo }}" height="100" width="150"></td>
            <td><a href="/removecategory1/{{t1.id}}">Remove</a></td>
        </tr>
        {% endfor %}

    </table>
</center>
</html>