<html>
    <head>
        <div class="basic">
            {% include "web/admin-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
        <style>
     
            table, th, td {
                background: rgba(73, 240, 7, 0.233);
      border: 2px solid black;
      height:55px;
    }
    tr:hover {background-color: #4cb366;}
            
            </style>
    </head>
    <center>
        <br> <br> <br> <br>
    <table>
        <tr>

            <th>F_ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PHOTO</th>
            <th>-----</th>

        </tr>
        <tr>
            {% for t1 in tt %}
            <td>{{ t1.F_ID }}</td>
            <td>{{ t1.Name }}</td>
            <td>{{ t1.Description }}</td>
            <td><img src="{{t1.Photo}}" width="100" height="100"></td>
            <td><a href="/category_update1/{{t1.id}}">Update</a></td>
        </tr>
        {% endfor %}

    </table>
</center>
</html>