<html>
    <head>
        <div class="basic">
            {% include "web/admin-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
    </head>
    <body>
        <div class="simple_form">
        <form id="registration" action="/category_update2/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id1" value="{{tt.id}}" required>
            <table>
                <tr>
                    <img src="{{tt.Photo}}" width="150" height="100" >
                </tr>
                <br><br>
                <tr>
                   <input type="text" value="{{tt.Name}}" name="categoryname" id="button" required>
                </tr>
                <br><br>
                <tr>
                    <textarea  name="categorydescription" cols="17" rows="5" id="button">{{tt.Description}}</textarea>
                </tr>
                <br><br>
                <tr>
                    <input type="submit" value="Update" onclick="" id="sub">
                </tr>
            </table>
        </form>
        </div>
    </body>
</html>