<html>
    <head>
        <title>Crop-details</title>
        {% load static %}
        <div class="basic">
          {% include "web/customer_header.html" %}
        </div>
        <link href="{% static 'css/sample1.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
       <div class="simple_form">
         <form id="registration" action="/complaints1/" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
          <h2>Crop Details</h2>
           <!--<input type="text" name="cropid" id="button" placeholder="Enter your ID"><br><br>-->
           <select name="fid" id="button" style="color:green">  
             <option value="0">please choose farmer name</option>
            {% for r in f1 %}
             <option value="{{r.F_ID}}">{{r.Name}}</option>
             {% endfor %}
        </select><br><br>
           <input type="text" name="complaint" id="button" placeholder="Enter crop complaint" required><br><br>
         
           
           <input type="submit"  id="sub" value="Submit"><br><br>
         </form>
       </div>
       </body>
       </html>