<html>
    <head>
        <title>Crop-details</title>
        {% load static %}
        <div class="basic">
          {% include "web/farmer-header.html" %}
        </div>
        <link href="{% static 'css/sample1.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
       <div class="simple_form">
         <form id="registration" action="/crop_details1/" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
          <h2>Crop Details</h2>
           <!--<input type="text" name="cropid" id="button" placeholder="Enter your ID"><br><br>-->
           <select name="cropcategory" id="button" style="color:green">
             <option value="0">please choose category</option>
             {% for d1 in d %}
             <option value="{{d1.Name}}">{{d1.Name}}</option>
             {% endfor %}
            </select> 
            <br><br>
            <input type="text" name="name" id="button" placeholder="Enter your crop name" required><br><br>
            <input type="text" name="price" id="button" placeholder="Enter price" required><br><br>
           <input type="text" name="croplandarea" id="button" placeholder="Enter your landarea" required><br><br>
           <span>
             Enter harvesting date:
           </span>
           <br>
           <input type="date" name="cropharvesttime" id="button" required><br><br>
           <input type="file" style="margin-left:100px" name="photo" id="button" required ><br><br>
           <input type="text" name="cropexpectedquantity" id="button" placeholder="Enter expected quantity" required><br><br>
         <br>
           <input type="submit"  id="sub" value="Submit"><br><br>
         </form>
       </div>
       </body>
       </html>