<html>
    <head>
        <div class="basic">
            {% include "web/farmer-header.html" %}
        </div>
        <style>
     
                table, th, td {
                    background: rgba(73, 240, 7, 0.233);
          border: 2px solid black;
         
        }
        tr:hover {background-color: #4cb366;}
                
                </style>
    </head>
    <body class="banner-info2">
        <center>
            <br><br> <br><br>
      
    <table border="1">
        <tr>
                <th>PHOTO</th>
           
            <th>CATEGORY</th>
            <th>NAME</th>
            <th>LANDAREA</th>
            <th>HARVESTTIME</th>
           
            <th>EXPECTEDTIME</th>
            <th>-----</th>

        </tr>
        <tr>
            {% for d1 in dd %}
            <td><img src="{{ d1.Photo }}" heigth="100" width="100"></td>
            <td>{{ d1.Category }}</td>
            <td>{{ d1.name }}</td>
            <td>{{ d1.Landarea }}</td>
           
            <td>{{ d1.Harvesttime }}</td>
           
            <td>{{ d1.Expectedtime }}</td>
           
            <td><a href="/crop_remove2/{{d1.id}}">Remove</a></td>
          
        </tr>
        {% endfor %}

    </table>
  
</center>
    </body>
</html>