<html>
    <head>
        <div class="basic">
            {% include "web/farmer-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample1.css' %}" rel="stylesheet">
        </div>
    </head>
    <body>
        <div class="simple_form">
        <form id="registration" action="/crop_update2/" method="POST">
            {% csrf_token %} 
            <input type="hidden" name="id1" value="{{dd.id}}">
            <table>
                <tr> Harvesttime 
                    <input type="text" value="{{dd.Harvesttime}}" name="cropharvesttime" id="button" required>
                </tr>
                <br><br>
                <tr> Expectedtime 
                    <input type="text" value="{{dd.Expectedtime}}" name="cropexpectedquantity" id="button" required>
                </tr>
                <br><br>
                <tr>
                    <input type="submit" value="Update" onclick="" id="sub">
                </tr>
            </table>
        </form>
        </div>
    </body>
</html>