<html>
    <head>
        <div class="basic">
            {% include "web/farmer-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample1.css' %}" rel="stylesheet">
        </div>
    </head>
    <table border="1">
        <tr>

            <th>F_ID</th>
            <th>CATEGORY</th>
            <th>NAME</th>
            <th>LANDAREA</th>
            <th>HARVESTING TIME</th>

        </tr>
        <tr>
            {% for d1 in dd %}
            <td>{{ d1.F_ID }}</td>
            <td>{{ d1.Category }}</td>
            <td>{{ d1.name }}</td>
            <td>{{ d1.Landarea }}</td>
            <td>{{ d1.Harvesttime }}</td>
            <td><a href="/crop_update1/{{d1.id}}">Update</a></td>
        </tr>
        {% endfor %}

    </table>
</html>