<html>
    <head>
        <div class="basic">
            {% include "web/admin-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
        <style>
     
                table, th, td {
                    background: #fff;
          border: 2px solid black;
          height:55px;
          padding: 25px;
        }
        tr:hover {background-color: #4cb366;}
                
                </style>
    </head>
    <center>
            <br>
            <br><br>
            <br>
    <table border="1">
        <tr>

            <th>F_ID</th>
            <th>NAME</th>
            <th>PANJAYATH</th>
            <th>ADDRESS</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>LANDAREA</th>
            <th>PHOTO</th>
            <th>-----</th>

        </tr>
        <tr>
            {% for t3 in td %}
            <td>{{ t3.F_ID }}</td>
            <td>{{ t3.Name }}</td>
            <td>{{ t3.Panjayath }}</td>
            <td>{{ t3.Address }}</td>
            <td>{{ t3.Phone }}</td>
            <td>{{ t3.Email }}</td>
            <td>{{ t3.Landarea }}</td>
            <td><img src="{{ t3.Photo }}" width="100" height="100"></td>
            <td><a href="/farmer_remove1/{{t3.id}}">Remove</a></td>
        </tr>
        {% endfor %}

    </table>
    </center>
</html>