<html>
    <head>
        <title>Crop-details</title>
        {% load static %}
        <div class="basic">
          {% include "web/customer_header.html" %}
        </div>
        <link href="{% static 'css/sample1.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
       <div class="simple_form">
         <form id="registration" action="/givereview1/" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
          <h2>Review</h2>
          <input type="hidden" value="{{f1.id}}" name="id1">
           <input type="text" name="review" id="button" placeholder="Enter crop Review" required><br><br>
          
          
           <input type="submit"  id="sub" value="Submit"><br><br>
         </form>
       </div>
       </body>
       </html>