<!-- 
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Farmer</title>
{% load static %}
<!-- meta-tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wool Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //meta-tags -->
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 			<!-- font-awesome icons --> 
<!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!-- web-font -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<!-- //web-font -->
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					   <h1><a class="navbar-brand" href="index.html"><span>O</span>rganic</a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="hvr-bounce-to-bottom active"><a href="/home/">Home</a></li>
							<li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li class="hvr-bounce-to-bottom"><a href="/farmer-register/">Farmer-Register</a></li>
									<li class="hvr-bounce-to-bottom"><a href="/buyer-register/">Buyer-Register</a></li>     
								</ul>
							</li>   
							<li class="hvr-bounce-to-bottom"><a href="/viewmelas/">ViewMela</a></li>
							<li class="hvr-bounce-to-bottom"><a href="/viewcategory/">Category</a></li>
							<li class="hvr-bounce-to-bottom"><a href="/viewfarmer/">Farmers</a></li>
							<li class="hvr-bounce-to-bottom"><a href="/viewcrop/">Crop</a></li>
							<li class="hvr-bounce-to-bottom"><a href="/login/">Login</a></li>
						</ul>
					</div><!-- //navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- banner -->
	<div class="banner"> 
		<!-- Slider-starts-Here --> 
		<script src="{% static 'js/responsiveslides.min.js' %}"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
			  // Slideshow 3
			  $("#slider3").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
				  $('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				  $('.events').append("<li>after event fired.</li>");
				}
			  });
		
			});
		</script>
		<!-- //End-slider-script -->
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider3">
				<li>
					<div class="banner-info">
						<div class="baner-w3text">
							<h3>Hello!</h3>
							<p>We Plant Good Harvest </p>
						</div>
					</div>
				</li>
				<li>
					<div class="banner-info1">
						<div class="baner-w3text">
							<h3>Farmer</h3>
							<p>If you eat today thank a farmer</p>
						</div>
					</div>
				</li>
				<li>
					<div class="banner-info2">
						<div class="baner-w3text">
							<h3>Agriculture</h3>
							<p>is not a farming , it is feeding</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="banner-bottom-grids">
			<div class="container">
				<div class="col-md-3 banner-bottom-grid">
					<div class="banner-bottom-grd w3-agile-back">
						<h4>01</h4>
						<p>Crop selection<span>& Land preparation</span></p>
						<div class="clearfix"> </div>
					</div>
					<p class="w3ltext">Temporibus autem quibusdam et aut officiis debitis aut 
						rerum necessitatibus saepe eveniet ut et voluptates.</p>
					<div class="more more4">
						<a href="single.html">Read More</a>
					</div>
				</div>
				<div class="col-md-3 banner-bottom-grid">
					<div class="banner-bottom-grd w3-agile-back1">
						<h4>02</h4>
						<p>Seed selection<span>& Seed sowing </span></p>
						<div class="clearfix"> </div>
					</div>
					<p class="w3ltext">Temporibus autem quibusdam et aut officiis debitis aut 
						rerum necessitatibus saepe eveniet ut et voluptates.</p>
					<div class="more more1">
						<a href="single.html">Read More</a>
					</div>
				</div>
				<div class="col-md-3 banner-bottom-grid">
					<div class="banner-bottom-grd w3-agile-back2">
						<h4>03</h4>
						<p>Irrigation  &<br><span>Crop growth </span></p>
						<div class="clearfix"> </div>
					</div>
					<p class="w3ltext">Temporibus autem quibusdam et aut officiis debitis aut 
						rerum necessitatibus saepe eveniet ut et voluptates.</p>
					<div class="more more2">
						<a href="single.html">Read More</a>
					</div>
				</div>
				<div class="col-md-3 banner-bottom-grid">
					<div class="banner-bottom-grd w3-agile-back3">
						<h4>04</h4>
						<p>Fertilizing &<br> <br><span> Harvesting</span></p>
						<div class="clearfix"> </div>
					</div>
					<p class="w3ltext">Temporibus autem quibusdam et aut officiis debitis aut 
						rerum necessitatibus saepe eveniet ut et voluptates.</p>
					<div class="more more3">
						<a href="single.html">Read More</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- welcome -->
	<div class="welcome w3-agileits">
		<div class="container">
			<h2>Welcome !</h2>
			<div class="banner-agileits-w3layouts">
				<div class="col-md-4 welcome-grid">
					<img src="{% static 'images/sprout-wallpapers-6.jpg' %}" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-8 welcome-grid">
					<h4>Agriculture is the foundation of manufactures, since the productions of nature are the materials of art</h4>
					<p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
						suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur 
						vel illum qui dolorem eum fugiat quo voluptas.</p>
					<div class="more">
						<a href="single.html">Read More</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //welcome -->
	<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="get-in-grids">
				<div class="get-in-grid-left">
					<p>Newsletter</p>
				</div>
				<div class="get-in-grid-right">
					<form action="#" method="post">
						<input type="email" name="email" Placeholder="Enter Your Mail..." required="">
						<input type="submit" value="Subscribe" >
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //newsletter -->
	<!-- news -->
	<div class="news">
		<div class="container">
			<h3>News & Events</h3>
			<p class="news-wthreetext">Vel illum qui dolorem eum aliquid ex ea commodi consequatur 
				vel illum qui dolorem eum fugiat quo voluptas</p>
			<div class="news-agileinfo">
				<div class="col-md-6 news-grid">
					<div class="col-xs-4 news-grid-left">
						<p>22nd<span>Sept</span></p>
					</div>
					<div class="col-xs-8 news-grid-right">
						<p>Itaque earum rerum hic tenetur a sapiente 
							delectus, ut aut reiciendis voluptatibus maiores alias consequatur 
							aut perferendis doloribus asperiores repellat.</p>
						<div class="more">
							<a href="single.html">Read More</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 news-grid">
					<div class="col-xs-4 news-grid-left">
						<p>28th<span>Sept</span></p>
					</div>
					<div class="col-xs-8 news-grid-right">
						<p>Itaque earum rerum hic tenetur a sapiente 
							delectus, ut aut reiciendis voluptatibus maiores alias consequatur 
							aut perferendis doloribus asperiores repellat.</p>
						<div class="more">
							<a href="single.html">Read More</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="news-agileinfo">
				<div class="col-md-6 news-grid">
					<div class="col-xs-4 news-grid-left">
						<p>11th<span>Oct</span></p>
					</div>
					<div class="col-xs-8 news-grid-right">
						<p>Itaque earum rerum hic tenetur a sapiente 
							delectus, ut aut reiciendis voluptatibus maiores alias consequatur 
							aut perferendis doloribus asperiores repellat.</p>
						<div class="more">
							<a href="single.html">Read More</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 news-grid">
					<div class="col-xs-4 news-grid-left">
						<p>25th<span>Oct</span></p>
					</div>
					<div class="col-xs-8 news-grid-right">
						<p>Itaque earum rerum hic tenetur a sapiente 
							delectus, ut aut reiciendis voluptatibus maiores alias consequatur 
							aut perferendis doloribus asperiores repellat.</p>
						<div class="more">
							<a href="single.html">Read More</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news -->
	<!-- customer -->
	<!-- <div class="customer">
		<div class="container">
			<h3>Customer Says</h3>
			<div class="customer-w3layoutsgrids">
				<ul id="flexiselDemo1">			
					<li>
						<div class="customer-grid">
							<p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
								consectetur, adipisci velit, sed quia non numquam eius modi tempora 
								incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
							<h4>John Smith</h4>
						</div>
					</li>
					<li>
						<div class="customer-grid">
							<p> Sed quia non numquam eius modi tempora neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
								consectetur, adipisci velit, 
								incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
							<h4>Micheal Robert</h4>
						</div>
					</li>
					<li>
						<div class="customer-grid">
							<p> Qui dolorem ipsum quia dolor sit amet, veque porro quisquam est, 
								consectetur, adipisci velit, sed quia non numquam eius modi tempora 
								incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
							<h4>Williumson</h4>
						</div>
					</li>
				</ul>
				<script type="text/javascript">
					$(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 3,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems: 1
								}, 
								landscape: { 
									changePoint:640,
									visibleItems:2
								},
								tablet: { 
									changePoint:768,
									visibleItems: 2
								}
							}
						});
						
					});
				</script>
				<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
			</div>
		</div>
	</div> -->
	<!-- //customer -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-agileitsrow">
				<div class="col-md-3 footer-grid">
					<h3>Extras</h3>
					<p>Ut rutrum neque a mollis laoreet diam enim feuiat dui nec ulacoper quam felis id diam. Nunc ut tortor ligula eu petiu risus. Pelleesque conquat dignissim lacus quis altrcies.</p>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Social Media</h3>
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
						<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i> Google+</a></li>
						<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> Dribbble</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Useful Info</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Contact Us</h3>
					<p>Pelleesque conquat dignissim lacus quis altrcies.</p>
					<div class="footer-grid-address">
						<!-- <p>Tel.800-255-9999</p> -->
						<p>Fax: 1234 568</p>
						<p>Email: <a class="email-link" href="mailto:info@example.com">Example.com</a></p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> 
	<div class="copy-right">
		<p>© 2020. All rights reserved <!--  Design by <a href="http://w3layouts.com">W3layouts</a></p> -->
	</div>
	<!-- //footer -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up --> 
	<!-- for bootstrap working -->
	<script src="{% static 'js/bootstrap.js' %}"> </script>
	<!-- //for bootstrap working -->
</body>
</html>