<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
{% include "web/krishibhavan-header.html" %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body class="banner-info">

</body>
</html>
