<html>
    <head>
        <title>Login form</title>
        {% load static %}
        <div class="basic">
          {% include "web/publicheader.html" %}
      </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/sample1.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
       <div class="simple_form1">
         <form id="registration" action="/login1/" method="POST">
           {% csrf_token %}
           <img src="{% static 'images/_username_login_1172579.png' %}" class="avatar">
          <h2>Login</h2>
          <i class="fa fa-user icon"></i>
           <input type="text" name="loginuser" id="button" placeholder="Enter your Username" required>
           <br><br>
           <i class="fa fa-key icon"></i>
           <input type="password" name="loginpassword" id="button" placeholder="Enter your Password" required><br><br><br>
           <input type="submit"  id="sub" value="Login"><br><br>
         
         </form>
       </div>
       </body>
       </html>