<html>
    <head>
        <title>Registerform</title>
        {% load static %}
        <div class="basic">
        {% include "web/farmer-header.html" %}
        </div>
        <link href="{% static 'css/sample1.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="simple_form">
         <form id="registration" action="/melaregister1/" method="POST" enctype="multipart/form-data">
          <h1>Register</h1>
           {% csrf_token %}
          <input type="text" name="melaname" id="button" placeholder="Enter your ID" value="{{tt.melaname}}" required><br><br>
          <input type="text" name="farmername" id="button" placeholder="Enter your name" value="{{a1.Name}}" required><br><br>
          <input type="text" name="cropdetails" id="button" placeholder="Enter Crop Details" required><br><br>
          <input type="submit" id="sub" value="Submit"><br><br>
         </form>
       </div>
    </body>
</html>