<html>
    <head>
        <title>order</title>
        {% load static %}
        <div class="basic">
            {% include "web/customer.html" %}
        </div>
        <link href="{% static 'css/sample.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="simple_form">
         <form id="order" action="/addorder/" method="POST">
           {% csrf_token %}
           <h2>Order Here</h2>
           <input type="text" name="cropid" id="button" value="{{h}}" required><br><br>
           <input type="text" name="requirement" id="button" placeholder="Requirement" required><br><br>
           <input type="text" name="quantity" id="button" placeholder="Quantity" required><br><br>
           <input type="submit"  id="sub" value="Submit"><br><br>
        
         </form>
       </div>
       </body>
       </html>