
<html>
    <head>
        <title>
            table
        </title>
        {%load static%}
        <div class="basic">
                {% include "web/customer.html" %}
            </div>
<link href="{% static 'css/sample.css' %}" rel="stylesheet">
    <style type="text/css">
        table, th, td {
                    background: #fff;
          border: 2px solid black;
          height:55px;
          padding: 25px;
        }
        tr:hover {background-color: #4cb366;}
    </style>
    </head>
    <body>
        <center>
            <h1 align="center">ORDERS</h1>
            <table>
                    <thead >  
                            <tr>  
                                <th>ORDER_ID</th> 
                                <th>BUYER_ID</th>
                                <th>CROP_ID</th>
                                <th>REQUIREMENT</th> 
                                <th>QUANTITY</th>  
                                <th>ORDER DATE</th> 

                                <th>STATUS</th>
                            </tr>  
                    </thead>  
                    <tbody>  
                            {% for i in hs %}  
                            <tr>  
                                <td>{{i.id }}</td> 
                                <td>{{i.BUYER_ID}}</td> 
                                <td>{{i.CROP_ID}}</td>  
                                <td>{{i.requirement }}</td> 
                                <td>{{i.req_qty}}</td> 
                                <td>{{i.order_date}}</td> 
                                <td>{{i.Status}}</td>                          
                            </tr>  
                        {% endfor %}  
                    </tbody>  
                     </table>
                </center>  
                 </body>
                 </html>
                    
                    