<html>
    <head>
           
        <title>
            table
        </title>
        {%load static%}
        <link href="{% static 'css2/trans.css' %}" rel="stylesheet" type="text/css" media="all">
        <div class="basic">
                {% include "web/customer.html" %}
            </div>

    </head>
    <body>
        <h1 align="center">ORDER STATUS</h1>
       
       
                       
                        <form>
                                <div style="float:left; padding:10px;">
                                
                                            <div class="background">
                                  <div class="transbox">
                                <center>
                                    <br>
                                
                                    <!-- <img src="{{c}}"  alt="image" height="100px" width="100px">   -->
                                    <br>
                                    <br>
                                    {% for i in hs %}  

                            {{hs.CROP_ID}}
                        
                                    <br>
                                    {{hs.BUYER_ID}}
                                    
                                            <br>
                                            {{hs.requirement}}
                                            
                                                    <br>
                                                    {{hs.req_qty}}
                                                    
                                                            <br>
                                                            {{hs.order_date}}
                                                            <br>
                                                            {{hs.Status}}
                                                            
                                                                    <br>
                            <br>  
                            {% endfor %}  
                        </center>
                                        </div>
                            </div>
                            
                         </div>
                        
                         </form>
                         
            
               
                 </body>
                 </html>
                    
                    