<!--
Au<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	{% load static %}
	{% include "web/panchayath_header.html" %} 
<title>project-farmer</title>

</head>
<body class="banner-info2">
  
 </body>
</html> 