<!DOCTYPE html>
<html lang="en">
<head>
<title>Farmer</title>
{% load static %}
<!-- meta-tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wool Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //meta-tags -->
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 			<!-- font-awesome icons --> 
<!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!-- web-font -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<!-- //web-font -->
<script type="text/javascript">
  $(document).ready(function() {
    /*
    var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear' 
    };
    */
    
    $().UItoTop({ easingType: 'easeOutQuart' });
    
  });
</script>
<!-- //smooth-scrolling-of-move-up --> 
<!-- for bootstrap working -->
<script src="{% static 'js/bootstrap.js' %}"> </script>
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					   <h1><a class="navbar-brand" href="index.html"><span>O</span>rganic</a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="hvr-bounce-to-bottom active"><a href="/home/">Home</a></li>
							<li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li class="hvr-bounce-to-bottom"><a href="/farmer-register/">farmer-register</a></li>
									<li class="hvr-bounce-to-bottom"><a href="/buyer-register/">Buyer-Register</a></li>     
								</ul>
							</li>   
							<li class="hvr-bounce-to-bottom"><a href="/viewcategory/">Category</a></li>
							<li class="hvr-bounce-to-bottom"><a href="/viewfarmer/">Farmers</a></li>
							<li class="hvr-bounce-to-bottom"><a href="/login/">Login</a></li>
						</ul>
					</div><!-- //navbar-collapse -->
				</nav>
			</div>
		</div>
  </div>
  </body>
  </html>
  