<html>
    <head>
        <title>Registerform</title>
        {% load static %}
        <div class="basic">
        {% include "web/publicheader.html" %}
        </div>
        <script type="text/javascript">
          function msg()
          {
            var a=f1.formnumber.value.length;
            if(a!=10)
            {
              alert("phone number should be 10 digits............");
              return false;
            }
            return true;

          }
        </script>
        <link href="{% static 'css/sample1.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="simple_form">
         <form id="registration" action="/farmer_register1/" method="POST" enctype="multipart/form-data" name="f1">
          <h1>Register</h1>
           {% csrf_token %}
          <input type="text" name="formid" id="button" placeholder="Enter your ID" value="{{ff}}"><br><br>
          <input type="text" name="formname" id="button" placeholder="Enter your name" required><br><br>
          <input type="text" name="formpanjayath" id="button" placeholder="Enter your panjayath" required><br><br>
          <textarea cols="22" rows="4" name="formaddress" id="button" placeholder="Enter your address" required></textarea><br><br>
          <!-- <select id="num">
            <option>+91</option>
            <option>+92</option>
            <option>+93</option>
            <option>+94</option>
            <option>+95</option>
          </select> --><input type="number" name="formnumber" id="button" placeholder="Enter phone number as password" required><br><br>
          <input type="email" name="formemail" id="button" placeholder="Enter your email"required><br><br>
          <input type="text" name="formlandarea" id="button" placeholder="Enter your landarea" required><br><br>
          <input type="file" name="photo" id="button"><br><br>
          <input type="submit" id="sub" value="Submit" onClick="return msg();"><br><br>
        
         </form>
       </div>
       </body>
       </html>