<html>
    <head>
        <div class="basic">
            {% include "web/admin-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
        <style>
     
                table, th, td {
                    background: #fff;
          border: 2px solid black;
          height:55px;
          padding: 25px;
        }
        tr:hover {background-color: #4cb366;}
                
                </style>
    </head>
    <center>
        <br>   <br>   <br>   <br>
    <table border="1">
        <tr>

            <th>Panchayath Name</th>
            <th>District</th>
            <th>Email</th>
            <th>Password</th>
            <th></th>

        </tr>
        <tr>
            {% for t1 in tt %}
            <td>{{ t1.Panjayath}}</td>
            <td>{{ t1.district }}</td>
            <td>{{ t1.Email }}</td>
            <td>{{ t1.Password }}</td>
            <td><a href="/removeaccount1/{{t1.id}}">Remove</a></td>
        </tr>
        {% endfor %}

    </table>
</center>
</html>