<html>
    <head>
        <title>
            table
        </title>
        {%load static%}
        <link href="{% static 'css2/trans.css' %}" rel="stylesheet" type="text/css" media="all">
        <div class="basic">
            {% include "web/customer.html" %}
        </div>

    </head>
    <body>
        <h1 align="center">CROP</h1>
        {% for i in h %}
        <form action="" method="POST">
            <div style="float: left; padding: 10px;">
                <div class="background">
                    <div class="transbox">
                        <center>
                            <br>
                            <img src="{{i.Photo}}" alt="image" height="100px" width="130px">
                            <br>
                            <br>
                            category    :{{i.Category}}
                            <br>
                            <br>
                            Crop Name :{{i.name}}
                            <br>
                            <br>
                            Harvesting Time  :{{i.Harvesttime}}
                            <br><br>
                            <b>
                                <font color="blue">
                            <a href="/givereview/{{i.id}}">Give Review</a>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <a href="/viewreview/{{i.id}}">View</a></b></font>
                            <br>

                        </center>
                    </div>
                </div>

            </div>
        </form>
        {% endfor %}
    </body>
</html>