<html>
    <head>
        <div class="basic">
            {% include "web/krishibhavan-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
        <style>
     
                table, th, td {
                    background: rgba(73, 240, 7, 0.233);
          border: 2px solid black;
          height:55px;
        }
        tr:hover {background-color: #4cb366;}
                
                </style>
    </head>
    <center>
        <br>   <br>   <br>   <br>
    <table border="1">
        <tr>

            <th>Name</th>
            <th>Unit</th>
            <th></th>

        </tr>
        <tr>
            {% for t1 in d %}
            <td>{{ t1.Name }}</td>
            <td>{{ t1.Unit }}</td>
            <td><a href="/updateseeds1/{{t1.id}}">Update</a></td>
        </tr>
        {% endfor %}

    </table>
</center>
</html>