<html>
    <head>
        <div class="basic">
            {% include "web/krishibhavan-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
    </head>
    <body>
        <div class="simple_form">
        <form id="registration" action="/updateseeds2/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id1" value="{{d.id}}" required>
            <table>
                <tr>
                   <input type="text" value="{{d.Name}}" name="name" id="button" required>
                </tr><br><br>
                <tr>
                   <input type="text" value="{{d.Unit}}" name="unit" id="button" required>
                </tr>
                <br><br>
                <tr>
                    <input type="submit" value="Update" onclick="" id="sub">
                </tr>
            </table>
        </form>
        </div>
    </body>
</html>