<html>
    <head>
        <div class="basic">
            {% include "web/krishibhavan-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
        <style>
     
            table, th, td {
                background: #fff;
      border: 2px solid black;
      height:55px;
      padding: 25px;
    }
    tr:hover {background-color: #4cb366;}
            
            </style>
    </head>
    <center>
        <br>
        <br><br>
        <br>
    <table>
        <tr>

            <th>F_ID</th>
            <th>NAME</th>
            <th>ADDRESS</th>
            <th>PANCHAYATH</th>
            <th>PHONE</th>
            <th>-----</th>


        </tr>
        <tr>
            {% for t3 in td %}
            <td>{{ t3.F_ID }}</td>
            <td>{{ t3.Name }}</td>
            <td>{{ t3.Address }}</td>
            <td>{{ t3.Panjayath }}</td>
            <td>{{ t3.Phone }}</td>
            <td><a href="/farmer_verify1/{{t3.id}}">Verify farmer</a></td>
        </tr>
        {% endfor %}

    </table>
</center>
</html>