<html>
    <head>
        <div class="basic">
            {% include "web/krishibhavan-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
    </head>
    <body>
        <div class="simple_form">
        <form id="registration" action="/farmer_verify2/" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{td.id}}" name="id1">
            <table>
                <tr>
                  
                    <input type="text" value="{{td.F_ID}}" name="formid" id="button" required>
                </tr><br><br>
                <tr>
                   
                    <input type="text" value="{{td.Name}}" name="formname" id="button" required>
                </tr><br><br>
                <tr>
                    
                    <textarea  name="formaddress" cols="17" rows="5" id="button">{{td.Address}}</textarea>
                </tr><br><br>
                <tr>
                    
                    <input type="text" value="{{td.Panjayath}}" name="formpanjayath" id="button" required>
                </tr><br><br>
                <tr>
                    
                    <input type="text" value="{{td.Phone}}" name="formnumber" id="button" required>
                </tr><br><br>
                <tr>
                    
                    <input type="text" value="{{td.Landarea}}" name="formlandarea" id="button" required>
                </tr><br><br>
                <tr>
                     <img src="{{td.Photo}}"  name="formphoto" id="button">
                    
                </tr>
                <br><br>
                <tr>
                    <input type="submit" value="Veify" onclick="" id="sub">
                </tr>
            </table>
        </form>
        </div>
    </body>
</html>