
<html>
    <head>
        <title>
            table
        </title>
        {%load static%}
        <div class="basic">
                {% include "web/publicheader.html" %}
            </div>
            <link href="{% static 'css/style2.css' %}" rel="stylesheet">
            <style>
     
                table, th, td {
                    background: #fff;
                    border: 2px solid black;
                    height:55px;
                    padding: 25px;
                }
                tr:hover {background-color: #4cb366;}
                
            </style>
	
    </head>
    <body>
        <center>
        <h1 align="center">FARMERS</h1>
        <table>
                <thead >  
                        <tr>  
                            <th>F_ID</th> 
                            <th>NAME</th>
                            <th>PANCHAYAT</th>
                            <th>ADDRESS</th> 
                            <th>PHONE</th>  
                            <th>LAND AREA</th> 
                            <th>PHOTO</th>  
                            <th>STATUS</th>  
                            <th>EMAIL</th>
                        </tr>  
                </thead>  
                <tbody>  
                        {% for i in hs %}  
                        <tr>  
                            <td>{{i.F_ID }}</td> 
                            <td>{{i.Name}}</td> 
                            <td>{{i.Panjayath }}</td>  
                            <td>{{i.Address }}</td> 
                            <td>{{i.Phone}}</td> 
                            <td>{{i.Landarea}}</td>  
                            <td><img src="{{i.Photo}}"  alt="image" height="100px" width="100px"></td>   
                            <td>{{i.Status}}</td>    
                            <td>{{i.Email}}</td>                                 
                        </tr>  
                    {% endfor %}  
                </tbody>  
                 </table>  
                 </center>
                 </body>
                 </html>
                    
                    