<html>
        <head>
            <title>
                table
            </title>
            {%load static%}
            <div class="basic">
                    {% include "web/farmer.html" %}
                </div>
    <link href="{% static 'css/style2.css' %}" rel="stylesheet">
        <style type="text/css">
        
        </style>
        </head>
    <body>
        <h1 align="center">ORDER</h1>
        {%csrf_token%}
        <table>
            <tr>
                <td> ORDER ID:</td>
                <td>{{hs.id}}</td>
            </tr>
            <tr>
                    <td> BUYER ID:</td>
                    <td>{{hs.BUYER_ID}}</td>
                </tr>
               
                <tr>
                    <td> CROP ID:</td>
                    <td>{{hs.CROP_ID}}</td>
                </tr>
                <tr>
                    <td> REQUIREMENT:</td>
                    <td>{{hs.requirement}}</td>
                </tr>
                <tr>
                    <td> QUANTITY:</td>
                    <td>{{hs.req_qty}}</td>
                </tr>
                <tr>
                    <td>ORDER DATE :</td>
                    <td>{{hs.order_date}}</td>
                </tr>
                    <tr>
                    
                     

                
                            <td><a href="/orderaccept/{{ hs.id }}">ACCEPT</span></a>  </td>

                            <td><a href="/orderreject/{{ hs.id }}">REJECT</span></a>  </td>
                      
                             
                
                </tr>
            </table>
                </body>
                </html>