<html>
    <head>
        <title>
            table
        </title>
        {%load static%}
        <div class="basic">
                {% include "web/publicheader.html" %}
            </div>
<link href="{% static 'css/style2.css' %}" rel="stylesheet">
<link href="{% static 'css2/trans.css' %}" rel="stylesheet" type="text/css" media="all">
	<style type="text/css">
	
	</style>
    </head>
    <body>
            <h1 align="center">CROP</h1>
       
            {% for i in hs %}  
            <form  action="" method="post">
                <div style="float:left; padding:10px;">
                
                            <div class="background">
                  <div class="transbox">
                <center>
                    <br>
                
                    <img src="{{i.Photo}}"  alt="image" height="100px" width="100px">  
                    <br>
                    Farmer id:{{i.F_ID}}
                    <br>
                    Category id:{{i.Category}}
                    <br>
                          
                    {{i.Landarea }} 
                    <br>
                   
                    {{i.Harvesttime }} 
                  
                    <br>
                    {{i.Expectedtime }} 
                    <br>
                    <br>
                     <b>
                    <font color="blue">
                <a href="/viewreview/{{i.id}}">View</a></b></font>
                <br>   
                </center>
                                </div>
                    </div>
                    
                 </div>
                
                 </form>
                 
            {% endfor %}  
       
         </body>
         </html>
        <!-- <h1 align="center">CROP</h1>
        <table>
                <thead >  
                        <tr>  
                            <th>F_ID</th> 
                            <th>CATEGORY</th>
                            <th>LAND AREA</th>
                            <th>HARVEST TIME</th>  
                            <th>PHOTO</th>  
                            <th>EXPECTED TIME</th> 
                            <th>STATUS</th> 

                            <th></th>  
                        </tr>  
                </thead>  
                <tbody>  
                        {% for i in hs %}  
                        <tr>  
                            <td>{{i.F_ID }}</td> 
                            <td>{{i.Category}}</td> 
                            <td>{{i.Landarea }}</td>  
                            <td>{{i.Harvesttime }}</td> 
                            <td><img src="{{i.Photo}}"  alt="image" height="100px" width="100px"></td>   
                            <td>{{i.Expectedtime}}</td>      
                            <td>{{i.Status}}</td>                                   
                        </tr>  
                    {% endfor %}  
                </tbody>  
                 </table>  
                 </body>
                 </html>
                    
                     -->