<html>
    <head>
        <div class="basic">
            {% include "web/customer_header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
        <style>
     
                table, th, td {
                    background: #fff;
          border: 2px solid black;
          height:55px;
          padding: 25px;
        }
        tr:hover {background-color: #4cb366;}
                
                </style>
    </head>
    
    <center><br><br><br><br>
        <table>
        <tr>
<th>B_Id</th>
<th>F_ID</th>
            <th>crop_id</th>
            <th>Review</th>


        </tr>
        <tr>
            {% for t1 in v1 %}
          <td>{{t1.B_ID}}</td>
          <td>{{t1.F_ID}}</td>
          <td>{{t1.crop_id}}</td>
            <td>{{t1.review}}</td>
            
        </tr>
        {% endfor %}

    </table>
</center>
</html>