<html>
    <head>
        <div class="basic">
            {% include "web/panchayath_header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
        <style>
     
                table, th, td {
                    background: rgba(73, 240, 7, 0.233);
          border: 2px solid black;
          height:55px;
        }
        tr:hover {background-color: #4cb366;}
                
                </style>
    </head>
    <center>
        <br>  <br>  <br>  <br>
   
    <table>
        <tr>
           
            <th>F_ID</th>
            <th>CROP DETAILS</th>
            <th>REGISTRATION DATE</th>
            <th>-------</th>
            

        </tr>
        <tr>
            {% for t1 in tt %}
            
            <td>{{ t1.F_ID }}</td>
            <td>{{ t1.crop_details }}</td>
            <td>{{ t1.reg_date }}</td>
            <td><a href="/viewregmela1/{{t1.id}}">Accept</a></td>
        </tr>
        {% endfor %}

    </table>
</center>
</html>