<html>
    <head>
           
        <title>
            table
        </title>
        {%load static%}
        <link href="{% static 'css2/trans.css' %}" rel="stylesheet" type="text/css" media="all">
        <div class="basic">
                {% include "web/customer.html" %}
            </div>

    </head>
    <body>
        <h1 align="center">CROP</h1>
       
                        {% for i in hs %}  
                        <form  action="" method="post">
                            <div style="float:left; padding:10px;">
                            
                                        <div class="background">
                              <div class="transbox">
                            <center>
                                <br>
                            
                                <img src="{{i.Photo}}"  alt="image" height="100px" width="100px">  
                                <br>
                                <br>
                                {{i.Category}}
                                <br>
                                      
                                {{i.Landarea }} 
                                <br>

                                {{i.price }} 
                                <br>
                               
                                {{i.Harvesttime }} 
                              
                                <br>
                                {{i.Expectedtime }} 
                                <br>
                               
                               
                                <a href="/order/{{ i.id }}">Order Now</a>
                                <br>   
                            </center>
                                            </div>
                                </div>
                                
                             </div>
                            
                             </form>
                             
                        {% endfor %}  
                   
                     </body>
                     </html>
                      