<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
{% include "web/admin-header.html" %}
<link href="{% static 'css/sample.css' %}" rel="stylesheet" type="text/css" media="all" />
<style>
     
                table, th, td {
                    background: #fff;
          border: 2px solid black;
          height:55px;
          padding: 25px;
        }
        tr:hover {background-color: #4cb366;}
                
                </style>
</head>
<body class="banner-info">
	<center>
		<div class="complaint">
			<h2 style="color: #fff" align="center">
				COMPLAINTS
			</h2>
			<table border="3" style="color: #fff">
			<tr>
				<th>buyer_id</th>
				<th>farmer_id</th>
				<th>complaint</th>
				<th>complaint date</th>
				<th>status</th>
			</tr>
			<tr>
				{% for complaint in complaints %}
				<td>{{complaint.B_ID}}</td>
				<td>{{complaint.F_ID}}</td>
				<td>{{complaint.complaint}}</td>
				<td>{{complaint.comp_date}}</td>
				<td>{{complaint.status}}</td>	
			</tr>
			{% endfor %}
		</table>
		</div>
	</center>
</body>
</html>