<html>
    <head>
        <div class="basic">
            {% include "web/farmer-header.html" %}
            {% load static %}
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
        </div>
        <style>
     
                table, th, td {
                    background: #fff;
          border: 2px solid black;
          height:55px;
          padding: 25px;
        }
        tr:hover {background-color: #4cb366;}
                
                </style>
    </head>
    <center>
        <br><br><br><br>
    <table>
        <thead>
            <tr>

                <th>MELA NAME</th>
                <th>PANCHAYATH</th>
                <th>VENUE</th>
                <th>START DATE</th>
                <th>END DATE</th>
                <th>REGISTER LAST DATE</th>
                <th>PHOTO</th>
                <th>--------</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                {% for t1 in tt %}
                <td>{{ t1.melaname }}</td>
                <td>{{ t1.Panjayathname}}</td>
                <td>{{ t1.venue }}</td>
                <td>{{ t1.startdate }}</td>
                <td>{{ t1.enddate }}</td>
                <td>{{ t1.reg_lastdate }}</td>
                <td><img src="{{t1.image}}" width="100" height="100"></td>
                <td><a href="/melaregister/{{t1.id}}">Register</a></td>
            </tr>
        </tbody>
        {% endfor %}

    </table>
</center>
</html>