<html>
    <head>
        <title>
            table
        </title>
        {%load static%}
        <div class="basic">
                {% include "web/publicheader.html" %}
            </div>
            <link href="{% static 'css2/trans.css' %}" rel="stylesheet" type="text/css" media="all">
            <link href="{% static 'css/sample.css' %}" rel="stylesheet">
<link href="{% static 'css/style2.css' %}" rel="stylesheet">
	
    </head>
    <body>
            <h1 style="color: #fff" align="center">CATEGORY</h1>
       
       
            {% for i in hs %}  
            <form  action="" method="post">
                    <div style="float:left; padding:10px;">
                    
                                <div class="background">
                      <div class="transbox">
                    <center>
                        <br>
                    
                        <img src="{{i.Photo}}"  alt="image" height="100px" width="100px">  
                        <br>
                        <br>
                {{i.Name}}
                <br>
                        <br>
                {{i.Description }} 
                <br>
                <br>
                <a href="/viewcrop/{{ i.F_ID }}">view</a>
                <br>   
            </center>
                            </div>
                </div>
                
             </div>
            
             </form>
             
        {% endfor %}  
   
     </body>
     </html>
        <!-- <h1 align="center">CATEGORY</h1>
        <table>
                <thead >  
                        <tr>  
                        
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>PHOTO</th>  
                            <th></th>  
                        </tr>  
                </thead>  
                <tbody>  
                        {% for i in hs %}  
                        <tr>  
                        
                            <td>{{i.Name}}</td> 
                            <td>{{i.Description }}</td>                          
                            <td><img src="{{i.Photo}}"  alt="image" height="100px" width="100px"></td>   

                            <td><a href="/viewcrop/{{ i.F_ID }}">view</span></a> </td>
                        </tr>  
                    {% endfor %}  
                </tbody>  
                 </table>  
                 </body>
                 </html>
                     -->
                    