body {margin:3%;font-family:Arial;
background-image: url("../images/sprout-wallpapers-6.jpg");
background-size: 100% 700px;}

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.41);
  opacity: 0.6;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}
h3{
  padding:0 0;
  margin:0 0;
  font-size: 50px;
  color: aliceblue;
  font-family: serif;
  text-align: center;
  margin-top: 180px;
  text-transform: capitalize;
  margin-bottom: 1em;
}
.active {
  background-color: rgb(51, 102, 9);
  color: rgb(216, 210, 210);
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: rgb(253, 247, 247);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(77, 77, 7);
  min-width: 116px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(204, 193, 193);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(129, 163, 7);
  color: white;
}

.dropdown-content a:hover {
  background-color: rgb(126, 78, 6);
  color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}