


div.transbox {
  margin: 30px;
    width:250px;
    height:300px;
  background-color: whitesmoke;
  border: 1px solid black;
    border-radius: 35px;
  
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
